/.idea/
target
*.iml
*.class
.DS_Store
*.classpath
*.project
*.log
.settings/
.factorypath

log/
node_modules/
gifs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

test/unit/coverage
test/e2e/reports
selenium-debug.log

*.factorypath
*.log